.navbar {
    background: white;
    border-bottom: 4px solid var(--ai-red);
    padding: 40px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 900;
    color: var(--ai-red);
    cursor: pointer;
    letter-spacing: 1px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    margin-left: 25px;
    font-weight: 500;
    font-size: 20px;
}
.nav-links a:hover, .nav-links a.active {
    background: var(--ai-gold);
    color: white !important;
    padding: 10px 22px;
    border-radius: 4px;
}

/* .btn-gold {
    background: var(--ai-gold);
    color: white !important;
    padding: 8px 18px;
    border-radius: 4px;
} */

.logout-btn {
    background: none;
    border: 1px solid var(--ai-red);
    color: var(--ai-red);
    padding: 9px 20px;
    cursor: pointer;
    margin-left: 15px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;

}
.logout-btn:hover{
    background-color: var(--ai-red);
    color: white;

}

img{
    width: 100px;
    height: 50px;
}
.namelogo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 300px;
    height: 40px;
}