.hero-section {
    background: url('https://plus.unsplash.com/premium_photo-1679829691115-434b172ef850?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1pbi1zYW1lLXNlcmllc3wzfHx8ZW58MHx8fHx8') no-repeat center center/cover;
    height: 85vh;
    position: relative;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    color: white;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.hero-content p {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn-primary-large {
    background-color: var(--ai-red);
    color: white;
    padding: 18px 40px;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn-primary-large:hover {
    transform: translateY(-3px);
    background-color: #5e0470;
}

/* Details Section */
.details-section {
    padding: 80px 0;
    background: white;
    text-align: center;
}

.section-title h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.underline {
    width: 80px;
    height: 4px;
    background: var(--ai-red);
    margin: 0 auto 50px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature-card {
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: 0.3s;
}

.feature-card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.feature-card .icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Destinations */
.destinations {
    padding: 80px 0;
    background: #f9f9f9;
    text-align: center;
}

.dest-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.dest-item {
    height: 300px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;    background-size: cover;

    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.dest-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}